footer.style-1,.social-wrapper
  display: flex;
  flex-direction row

.amenidades-wrapper,footer.style-1
  margin-left: 6%;

.top-left-top,.top-left-bottom,.top-right-box,.mid-left-bottom,.bottom-left,.bottom-right-bottom,.topImage,.bottomImage,.leftBox
  cursor: pointer;

.social-wrapper
  width: 60%;
  justify-content: space-between;
  padding-left: 1vw

.footer-left-side,.footer-mid-side,.footer-right-side
  height auto

.footer-left-side
  width: 45%
  background-color rgb(223,223,223)

.footer-mid-side
  position: relative;
  width: 46%

.footer-right-side
  width: 30.3%

.footer-left-side nav
  list-style-type: none;
  padding: 4vw

.footer-left-side nav a li
  margin: 1vw 0
  font-weight: 500
  color: #250009
.footer-left-side nav a
  color: black;
  font-size: 18px;

.social-icon img
  width: 30px;
  height: 30px;
  cursor: pointer;

.social-icon:hover
  opacity 0.8

.line-yellow
  position: absolute;
  width: 90%;
  height: 3px;
  background: rgb(209,169,90);
  top: 40%;

.footer-logo
  position: absolute;
  width: 50%;
  bottom: 22%;
  right: 10%;

p.info-contact-text
  font-size: 12px;
  padding: 1vw;

.social-wrapper
  padding: 1vw

.top-amenidades,.mid-amenidades
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow hidden

.mid-amenidades
  height: 40vw

.top-amenidades
  height: 35vw

.top-right-box
  flex: 0 1 80%;
  width: 80%;
  height: 40vw;
  overflow: hidden;
  position relative

.top-right-box img
  width auto
  height 100%

.title-box
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 300
  letter-spacing: 5px;
  height: 20vw

.top-left-box
  display: flex;
  flex 0 1 20%
  flex-direction: column;
  overflow hidden;
  height: 40vw

.top-left-top
  position relative
  display: flex;
  width: 100%;
  flex: 0 1 100%;
  height: 20vw;

.top-left-bottom
  width: 100%;
  height: 40vw;
  background: #300008;

.top-left-top img
  width: 100%;
  height: 101%;

.mid-left
  width: 80%;
  height: 40vw;
  display flex
  flex-direction column

.mid-right
  width: 20%;
  height: auto;
  background: #fff;
  height: 40vw;
  overflow hidden

.mid-left-top
  width: 100%;
  height: 5vw;
  display flex

.white-color-bar
  width: 25%;
  background: #fff;

.white-yellow-bar
  width: 75%;
  background: rgb(209,169,90);
  height: 100%;

.top-right-box img
  width 100%

.mid-left-bottom img
  width 100%
  height 35vw

.mid-left-bottom
  position: relative;

span.title-box.title-box-bottom
  left: 30%;
  top: 80%;

.mid-right img
  width: 100%;
  height: auto;

.bottom-amenidades
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33vw;

.bottom-left
  position relative
  flex: 0 1 40%;
  height: 33vw;

.bottom-right-top
  width: 100%;
  height: 8vw;
  display: flex;

.white-red-bar
  width: 68%;
  background: #250009;
  height: 8vw;

.white-white-bar
  width: 30%;
  height: 8vw;
  background-color: #fff

.bottom-left img
  height: 100%;
  width: 100%;

.bottom-right-bottom
  width: 100%;
  height: 25vw;
  position relative
.bottom-right-bottom img
  width 100%
  height 100%
.bottom-right
  width: 68%;

.info-contact
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

@media(min-width 1200px)
  .footer-right-side
    display: flex;
    flex-direction: column;
    justify-content: center;

@media(max-width 1024px)
  .title-box
    font-size: 14px

@media(max-width 768px)
  .amenidades-wrapper,footer.style-1
    margin-left: 0%;
  .mid-right
    display none
  footer.style-1
    flex-direction: column-reverse;

  .footer-left-side,.footer-mid-side,.footer-right-side
    width: 100%

  .footer-mid-side
    height: 20vw

  .footer-left-side nav
    text-align: center;

  .footer-logo img
    width: 48%;

  .footer-logo
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 66%;

  .social-wrapper
    width: 40%;
    margin: 0 auto;

  .info-contact
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  p.info-contact-text
    text-align: left

  .info-contact
    text-align: center;

  .footer-left-side nav
    padding: 2vw

  .footer-left-side nav a
    font-size: 14px

  .footer-left-side nav a li
    margin 3vw 0

  .footer-logo img
    width: 35%;

  .footer-logo
    width: 100%;
    text-align: center;
    left: 0;

  .line-yellow
    width 100%
    top 5%

  .mid-amenidades, .top-amenidades
    overflow none
    height auto
    flex-direction: column;

  .top-left-box
    flex: 0 1 20%;
    flex-direction: column;
    overflow none
    width: 100%;
    height: auto

  .top-left-top
    width: 100%;
    flex: 0 1 100%;
    height: 50vw;

  .top-left-bottom
    height 10vw

  .top-right-box
    flex: 0 1 80%;
    width: 100%;
    height: 50vw;
    overflow: hidden;

  .mid-left
    width 100%

  span.title-box.title-box-bottom
    left: 0%;
    top: 50%;
    text-align: center;

  .mid-right img
    height 100%

  .bottom-amenidades
    flex-direction column
    height: auto;

  .bottom-left
    height 50vw

  .bottom-right
    width 100%

  .bottom-right-bottom
    height 50vw

  .footer-right-side
    margin 3vw 0

  .bottom-amenidades
    height: 120vw

  div.mid-amenidades
    height: 40vw
