footer.style-1,.social-wrapper
  display: flex;
  flex-direction row

.amenidades-wrapper
  margin-left: 6%;

.social-wrapper
  width: 60%;
  justify-content: space-between;

.footer-left-side,.footer-mid-side,.footer-right-side
  height auto

.footer-left-side
  width: 45%
  background-color rgb(223,223,223)

.footer-mid-side
  position: relative;
  width: 46%

.footer-right-side
  width: 30.3%

.footer-left-side nav
  list-style-type: none;
  padding: 4vw

.footer-left-side nav a li
  margin: 1vw 0

.footer-left-side nav a
  color: black;
  font-size: 18px;

.social-icon img
  width: 30px;
  height: 30px;
  cursor: pointer;

.line-yellow
  position: absolute;
  width: 90%;
  height: 3px;
  background: rgb(209,169,90);
  top: 40%;

.footer-logo
  position: absolute;
  width: 50%;
  bottom: 22%;
  right: 10%;

p.info-contact-text
  font-size: 12px;
  padding: 1vw;

.social-wrapper
  padding: 1vw

.top-amenidades,.mid-amenidades
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height 40vw
  overflow hidden

.top-right-box
  flex: 0 1 80%;
  width: 80%;
  height: 40vw;
  overflow: hidden;
  position relative

.top-right-box img
  width auto
  height 100%

.title-box
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 300
  letter-spacing: 5px;

.top-left-box
  display: flex;
  flex 0 1 20%
  flex-direction: column;
  overflow hidden

.top-left-top
  position relative
  display: flex;
  width: 100%;
  flex: 0 1 100%;
  height: 20vw;

.top-left-bottom
  width: 100%;
  height: 20vw;
  background: rgb(37,0,9)

.top-left-top img
  width: 100%;
  height: 101%;

.mid-left
  width: 80%;
  height: 40vw;
  display flex
  flex-direction column

.mid-right
  width: 20%;
  height: auto;
  background: #fff;
  height: 40vw;
  overflow hidden

.mid-left-top
  width: 100%;
  height: 5vw;
  display flex

.white-color-bar
  width: 25%;
  background: #fff;

.white-yellow-bar
  width: 75%;
  background: rgb(209,169,90);
  height: 100%;

.top-right-box img
  width 100%

.mid-left-bottom img
  width 100%
  height 35vw

.mid-left-bottom
  position: relative;

span.title-box.title-box-bottom
  left: 30%;
  top: 80%;

.mid-right img
  width: 100%;
  height: auto;

.bottom-amenidades
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33vw;

.bottom-left
  position relative
  flex: 0 1 40%;
  height: 33vw;

.bottom-right-top
  width: 100%;
  height: 8vw;
  display: flex;

.white-red-bar
  width: 68%;
  background: #250009;
  height: 8vw;

.white-white-bar
  width: 30%;
  height: 8vw;
  background-color: #fff

.bottom-left img
  height: 100%;
  width: 100%;

.bottom-right-bottom
  width: 100%;
  height: 24.9vw;
  position relative
.bottom-right-bottom img
  width 100%
  height 100%
.bottom-right
  width: 68%;




@media(max-width 768px)

  footer.style-1
    flex-direction: column;

  .footer-left-side,.footer-mid-side,.footer-right-side
    width: 100%

  .footer-mid-side
    height: 30vw

  .footer-left-side nav
    text-align: center;

  .footer-logo img
    width: 48%;

  .footer-logo
    position: absolute;
    width: 50%;
    bottom: 10%;
    left: 66%;

  .social-wrapper
    width: 30%;
    margin: 0 auto;

  .info-contact
    text-align: center;

  .footer-left-side nav
    padding: 2vw

  .footer-left-side nav a
    font-size: 14px
