#sectionSpaces
  position relative
  width 100%
  margin 0 auto
  margin-left: 6%
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

#sectionSpaces .space
  width: 6%
  height: 100%

#sectionSpaces .gridPhotos
  width: 94%;
  height: auto;

.containerGallery
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

.containerGallery div img
    width: 100%;
    height: auto;

.containerGallery .leftBox
  width: 63.4%

.containerGallery .RightBox
  width: 36.6%
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
