/* Large devices Desktops (≥1200px) */
/* Container width	*/
@media (max-width 1199px)
  #sectionSpaces .space
    width: 0%

  #sectionSpaces .gridPhotos
    width: 100%

/* Medium devices Desktops (≥992px) */
/* Container width	*/
@media (max-width 991px)
  .containerGallery .leftBox
    width: 100%

  .containerGallery .RightBox
    width: 100%

  #sectionSpaces
    margin-left: 0
