#sectionFooterContact
  position relative
  width 100%
  margin 0 auto
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

#sectionFooterContact .space
  width: 6%
  height: 100%

#sectionFooterContact .sectionContact
  width: 94%;
  height: auto;
  background: #E5E5E5
  padding-top: 50px;
  padding-left: 50px;

.navSocial ul, .navSocial li
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

.navSocial ul
  margin-bottom: 30px;
  margin-top: 30px;

.navSocial li
  display: inline-block;
  width: 35px;
  height: auto;
  transition: .5s;
  margin-right: 25px;

.navSocial li:hover
  display: inline-block;
  height: auto;
  opacity: .5;
  cursor: pointer;

.navSocial li img
  width: 100%;
  height: auto;

.sectionContact hr
  width: 20px;
  margin-left: 0;
  border: 2px solid #DBB66D;
  margin: 10px 0px 20px 0px;
  padding: 0;

.navSocial span
  font-family: "futura";
  font-size: 1.2em;
  display: block;
  font-weight: bold;
  margin-top: 2px;

.navSocial span.titleContact
  font-family: "futura";
  font-size: 2.2em;
  font-weight: bold;

#formContact
  font-size: 1.4em;
  width: 100%;
  margin-bottom: 40px;

#formContact label
  display: block;
  width: 70%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
  margin-bottom: 10px;

#formContact label span
  display: block;
  width: 25%;
  text-align: left;

#formContact label input, #formContact label textarea
  display: block;
  width: 75%;
  margin: 0;
  padding: 0;
  padding: 0px 5px 0px 5px;
  border: none;
  background: none;
  border-bottom: 2px solid secondary-color;
  outline: none;

#formContact label.message
  margin-top: 30px;

#formContact label textarea
  border: 2px solid secondary-color;
  height: 150px;

#formContact input#send
  width: auto;
  height: auto;
  border: 2px solid #DBB66D;
  padding: 5px 10px 5px 10px;
  transition: .5s;


#formContact input#send:hover
  cursor: pointer;
  opacity: .5;
