/* Large devices Desktops (≥1200px) */
/* Container width	*/
@media (max-width 1199px)
  #sectionHabitaciones .space
    width: 0%

  #sectionHabitaciones .gridPhotos
    width: 100%

  #sectionHabitaciones .textDescription
    width: 95%;
    height: 100px;
    text-align: justify;
    font-size: 1.8em;
    margin-bottom: 35px;
    margin-left: 5%;

  .containerGallery .title
    width: 95%;
    height: 30px;
    font-size: 2.7em;
    margin-top: 30px;
    margin-left: 5%;

  .containerGallery hr
    margin-left: 5%;

/* Small devices Tablets (≥768px) */
/* Container width	*/
@media (max-width 767px)
  .containerGallery .habLeftBox
    width: 100%

  .containerGallery .habCenterBox
    width: 100%

  .containerGallery .habRightBox
    width: 100%

  #sectionHabitaciones .textDescription
    width: 70% !important;
    height: auto;
    font-size: 2.5em;
    margin-bottom: 25px;
    margin-left: 15% !important;

  .disabledresponsive
    display: none !important;
