#sectionHabitaciones
  position relative
  width 100%
  margin 0 auto
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

#sectionHabitaciones .space
  width: 6%
  height: 100%

#sectionHabitaciones .gridPhotos
  width: 94%;

.containerGallery .habLeftBox
  width: 31.1%;

.containerGallery .habCenterBox
  width: 48.9%;

.containerGallery .habRightBox
  width: 20%;

.containerGallery .title
  display: block;
  width: 100%;
  height: 40px;
  font-family: "Geomanist-Regular";
  font-size: 2.5em;
  color: #300008;
  letter-spacing: .25em;
  margin-top: 50px;

.containerGallery div
  width: 100%;

.containerGallery div img
  width: 100%;
  height: auto;
  transition: 1s
  display: block;

.containerGallery div .selectHover img:hover
  cursor: pointer;
  filter: sepia(1);
  -webkit-filter: sepia(1);

.containerGallery hr
  width: 30px;
  margin-left: 0;
  border: 2px solid #DBB66D;

.containerGallery hr.notShow
  width: 10%;
  border: 2px solid #FFF;

#sectionHabitaciones .textDescription
  width: 100%;
  height: 100px;
  text-align: justify;
  font-size: 1.65em;
  margin-bottom: 35px;
