@media (max-width 1366px)
  body
    font-size .9em

  .divTag div.tag
    width 45%
    left 40%

/* Large devices Desktops (≥1200px) */
/* Container width	*/
@media (max-width 1199px)
  body
    font-size .8em

  .divTag div.tag
    width 70%
    left 20%
    max-width 135px
    min-width 115px

  #headerTop
    padding-bottom 40px

  .menuNav
    margin-top 60px

/* Medium devices Desktops (≥992px) */
/* Container width	*/
@media (max-width 991px)
  body
    font-size .7em

  .divTag div.tag
    width 65%
    left 15%
    max-width 125px
    min-width 105px

  #headerTop
    padding-bottom 30px

  .menuNav
    margin-top 50px

/* Small devices Tablets (≥768px) */
/* Container width	*/
@media (max-width 767px)
  body
    font-size .6em

  #headerTop
    padding-bottom 0px

  .divTag
    z-index: 10
    background principal-color
    text-aling center

  .divTag div.tag
    position relative
    width 30%
    left 0
    margin 0 auto
    max-width 105px
    min-width 85px

  .menu
    display block

  .menuNav
    width 50%
    margin 0 auto

  .menuNav ul
    flex-direction column

  .menuNav ul li
    font-size 2.5em
    margin-top 10px;
    margin-bottom 10px;

  .headerNav
    position: absolute
    top: 135px
    background: #FFF



/* Extra small devices Phones (<768px) */
/* Container width	*/
