#sliderHome
  width: 100%
  height: auto;
  display: block;
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-items center
  align-content center
  background: #FFF

#sliderHome .space
  width: 6%

#sliderHome .slider-container
  width: 94%

.swiper-container
  width: 100%
  height: auto

.swiper-slide
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

.swiper-slide img
  width: 100%
  height: auto

.bottomSite
  width: 100%;
  height: auto;
  display: block;
  margin-top: -2px;
  margin: 0 auto;

.bottomSite div.barcolour
  height: 5vw
  max-height: 50px;
  min-height: 15px;
  margin-top: -1px;

.bottomSite div.primarycolor
  background principal-color
