#sliderHome
  width: 100%
  height: auto;
  display: block;
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  align-items center
  align-content center
  background: #FFF

#sliderHome .space
  width: 6%

#sliderHome .slider-container
  width: 94%

.swiper-container
  width: 100%
  height: auto

.swiper-slide
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

.swiper-slide img
  width: 100%
  height: auto

.bottomSite
  width: 100%;
  height: auto;
  display: block;
  margin-top: -2px;
  margin: 0 auto;

.bottomSite div.barcolour
  height: 5vw
  max-height: 50px;
  min-height: 15px;
  margin-top: -1px;

.bottomSite div.primarycolor
  background principal-color

.swiper-pagination-bullet
  background-color: #fff !important;
  opacity: .5
  width: 15px !important
  height: 15px !important
  border-radius: 50% !important

.swiper-pagination-bullet-active
  background-color:  rgba(255,255,255,0.9) !important;
  padding: 5px
  border: 2px solid;
  border-radius: 50%;
  -moz-box-shadow:    0 0 0 2px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 0 2px  rgba(255, 255, 255, 1);
  box-shadow:         0 0 0 2px  rgba(255, 255, 255, 1);

.swiper-pagination-bullet-active:before
  border-radius: 50%;
  margin: -6px;
  content: "";
  display: block;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
