@font-face
  font-family "futura"
  src url('./../fonts/Futura.ttc')

@font-face
  font-family "Geomanist-Regular"
  src url('./../fonts/Geomanist-Regular.otf')

/*Colors*/
principal-color = #300008
secondary-color = #DBB66D

body
  font-size 1em
  overflow-x hidden
  // background: #F2F2F2


a, li, ul
  text-decoration: none !important;

p
  font-family "Geomanist-Regular"

@import './normalize.styl'
@import './swiper.css'
@import './hover-min/hover-min.css'
@import './header.styl'
@import './header-responsive.styl'
@import './home.styl'
@import './home-responsive.styl'
@import './nosotros.styl'
@import './espacios.styl'
@import './espacios-responsive.styl'
@import './habitaciones.styl'
@import './habitaciones-responsive.styl'
@import './amenidades.styl'
@import './services.styl'
@import './services-premium.styl'
