@font-face
  font-family "futura"
  src url('./../fonts/Futura.ttc')

/*Colors*/
principal-color = #300008
secondary-color = #DBB66D

body
  font-size 1em

@import './normalize.styl'
@import './hover-min/hover-min.css'
@import './header.styl'
@import './header-responsive.styl'
