@media (max-width 1680px)
  #sectionRestaurant .containerDP span
    margin-bottom: 30px;

  .containerDP
    font-size: 1.7em;


@media (max-width 1366px)
  #sectionRestaurant .containerDP span
    margin-bottom: 20px;

  .containerDP
    font-size: 1.6em;

@media (max-width 1199px)
  #sectionRestaurant .space
    width: 0%

  #sectionRestaurant .gridInformationRestaurant
    width: 100%;

@media (max-width 768px )
  #sectionRestaurant .containerDP span
    margin-bottom: 30px;

  .containerDP
    font-size: 2.5em;
