#sectionRestaurant
  position relative
  width 100%
  margin 0 auto
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

#sectionRestaurant .space
  width: 6%
  height: 100%

#sectionRestaurant .gridInformationRestaurant
  width: 94%;
  height: 100%;
  position: relative;

.groupPhotoRestauntat
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

.groupPhotoRestauntat img
  width: 50%;

#sectionRestaurant .containerDP span
  margin-bottom: 40px;

.containerDP
  font-size: 2em;

.containerDP .title
  margin: 0 auto !important;
  font-family: 'futura';
  font-size: 1.1em;
