@media (max-width 1680px)
  .containerDP
    width: 80%;
    font-size: 1.8em;

@media (max-width 1366px)
  .headerTopGallery .headerTitle
    font-size: 2.5em;

  .containerDP
    width: 80%;
    font-size: 1.7em;



/* Medium devices Desktops (≥992px) */
/* Container width	*/
@media (max-width 991px)
  .descriptionContainer .photo, .headerTopGallery .headerImage
    width: 100%;
    height: auto;

  .descriptionContainer .descriptionPhoto, .headerTopGallery .headerTitle
    width: 100%;
    height: auto;

  .headerTopGallery .headerTitle
    font-size: 3em;

  .headerTopGallery .titleImg
    width: 40px;

  .descriptionContainer .headerTopGallery
    flex-direction: column-reverse;

  .headerTitle
    margin-top: 5vw;
    margin-bottom: 5vw;

  .containerDP
    width: 50%;
    font-size: 2em;
    margin-top: 60px;
    margin-bottom: 60px;

/* Small devices Tablets (≥768px) */
/* Container width	*/
@media (max-width 767px)
  .headerTopGallery .headerTitle
    font-size: 4em;

  .headerTopGallery .titleImg
    width: 30px;

  #informationShow .close
    left: 95%;
    font-size: 4em;

  .containerDP
    width: 60%;
    font-size: 2.2em;
    margin-top: 60px;
    margin-bottom: 60px;

@media (max-width 480px)
  .headerTopGallery .headerTitle
    font-size: 3em;

  .containerDP
    width: 80%;
    font-size: 2.2em;
    margin-top: 30px;
    margin-bottom: 30px;
