#roomDescription
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #FFF;

#roomDescription .descriptionContainer
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;

.descriptionContainer .headerTopGallery
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

.descriptionContainer .topInformationGallery
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;

.descriptionContainer .photo, .headerTopGallery .headerImage
  width: 70%;
  height: auto;

.descriptionContainer .descriptionPhoto, .headerTopGallery .headerTitle
  width: 30%;
  height: auto;

.headerTopGallery .headerImage img
  width: 100%;
  height: auto;

.headerTopGallery .headerTitle
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3em;
  color: principal-color;

.headerTopGallery .titleImg
  width: 50px;
  height: auto;
  margin-left: 20px

.headerTopGallery .titleImg img
  width: 100%;
  height: auto;

.containerDP
  width: 75%;
  height: auto;
  margin: 0 auto;
  font-size: 2em;
  color: principal-color;
  text-align: center;

.containerDP span
  display: block;
  text-align: justify;
  margin-bottom: 40px;
  font-family: 'Geomanist-Regular';

.containerDP span.reservarButtom
  margin-top: 20px;

.containerDP span.reservarButtom
  display: inline-block;
  padding: 20px 20px 20px 20px;
  background: principal-color;
  font-family: 'futura';
  font-size: 1.3em;
  letter-spacing: .2em;
  color: #FFF;
  margin: 0 auto;

.containerDP span.reservarButtom:hover
  cursor: pointer;
  opacity: .5;
